In [15]:
import warnings
warnings.filterwarnings("ignore")

In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy as sk

In [17]:
df = pd.read_csv('table-1.csv')

In [18]:
df.describe(include='all')

          Entity  Year       Records Organization type  Method Sources
count        348   348  3.480000e+02               348     347     344
unique       327    22           NaN                67      24     306
top     Facebook  2011           NaN               web  hacked    [36]
freq           5    34           NaN                53     193      25
mean         NaN   NaN  3.793330e+07               NaN     NaN     NaN
std          NaN   NaN  1.811002e+08               NaN     NaN     NaN
min          NaN   NaN  0.000000e+00               NaN     NaN     NaN
25%          NaN   NaN  1.122500e+05               NaN     NaN     NaN
50%          NaN   NaN  1.100000e+06               NaN     NaN     NaN
75%          NaN   NaN  1.102500e+07               NaN     NaN     NaN
max          NaN   NaN  3.000000e+09               NaN     NaN     NaN

In [19]:
df.mean()

Records    3.793330e+07
dtype: float64